@inherits UmbracoViewPage
<!DOCTYPE html>
<html lang="en">
@Html.Partial("Layout/_HtmlHead")
<body>
    @Html.Partial("Layout/_Header")
    <div class="page-body">
        
        @RenderBody()
    </div>
    @Html.Partial("Layout/_Footer")
    @Html.Partial("Layout/_HtmlScripts")
</body>
</html>