@model VladyKsenicUmbracoProjekt.lib.Models.OsobnaStrankaContactModel
@using VladyKsenicUmbracoProjekt.lib.Util

@if (TempData["success"] != null)
{
    <p class="big">Ďakujeme za správu.</p>
    <p class="medium">Správa bola úspešne odoslaná.<br />Ozveme sa čoskoro.</p>
}
else
{
    <h3>Napíšte nám správu</h3>

    using (Html.BeginUmbracoForm<VladyKsenicUmbracoProjekt.lib.Controllers.ContactController>("HandleFormSubmit", null, new { @class = "form-horizontal", role = "form" }))
  {
        <div class="naplnspajzu-form">
            <div class="row">
                <div class="col-md-12">
                    @Html.ValidationSummary(true,CurrentLang.GetText("Views/ContactForm", "Správu sa nepodarilo odoslať. Opravte chyby a skúste správu odoslať znovu."))
                    @Html.AntiForgeryToken()
                    <div class="form-item">
                        @Html.LabelFor(x => x.Name)
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                    <div class="form-item">
                        @Html.LabelFor(x => x.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    <div class="form-item">
                        @Html.LabelFor(x => x.Text)
                        @Html.TextAreaFor(m => m.Text, new { @class = "form-control", style = "height:150px" })
                        @Html.ValidationMessageFor(m => m.Text)
                    </div>
                    <div class="api-password-group">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    
                    <div class="api-password-group">
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                </div>
            </div>
            <br />
            <div class="row submit">
                <div class="col-md-12">
                    <a href="#" onclick="document.getElementById('submitButton').click(); return false;" class="tlacitko-moje">Odoslať správu</a>
                    <input type="submit" id="submitButton" class="hidden" />
                </div>
            </div>
        </div>
       } 
    }
