@model VladyKsenicUmbracoProjekt.lib.Models.LoginModel.ChangePasswordModel


<div class="login-form">
    @using (Html.BeginUmbracoForm<VladyKsenicUmbracoProjekt.lib.Controllers.MemberController>("SavePassword", null, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="developerboss-form">
            @Html.AntiForgeryToken()
            <div class="form-item">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "nové heslo" })
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
            <div class="form-item">
                @Html.LabelFor(m => m.NewPasswordRepeat)
                @Html.PasswordFor(m => m.NewPasswordRepeat, new { @class = "form-control", placeholder = "zopakované nové heslo" })
                @Html.ValidationMessageFor(m => m.NewPasswordRepeat)
            </div>

            @Html.ValidationSummary(true)
            <div class="form-section">
                <a href="@Url.Content("~/sk/clenska-sekcia-zmena-hesla")" onclick="document.getElementById('submitButton').click(); return false;" class="btn btn-primary btn-lg">Zmeniť heslo</a>
                <input type="submit" id="submitButton" class="hidden" />
            </div>
        </div>
    }
</div>


