@using VladyKsenicUmbracoProjekt.lib.Models
@model LoginModel.LostPasswordModel

<div class="login-form">
    @using (Html.BeginUmbracoForm<VladyKsenicUmbracoProjekt.lib.Controllers.MemberController>("SubmitLostPassword", null, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="developerboss-form">

            @Html.AntiForgeryToken()
            <div class="form-item">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Váš e-mail" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            @Html.ValidationSummary(true)
            <div class="form-section">
                <br>
                <a href="@Url.Content("~/sk/clenska-sekcia-zabudnute-heslo")" onclick="document.getElementById('submitButton').click(); return false;" class="btn btn-primary btn-lg">Obnoviť prístup</a>
                <input type="submit" id="submitButton" class="hidden" />
            </div>
        </div>
    }
</div>

